.popup__confirm-button {
    width: 358px;
    height: 50px;
    margin-bottom: 36px;
    background-color: #000;
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    border: none;
    border-radius: 2px;
    padding: 0;
    cursor: pointer;
    opacity: 1;
    transition: opacity .2s ease-in;
}

.popup__confirm-button:hover{
    background-color: #000;
    opacity: .8;
}

@media (max-width: 767px) {
    .popup__confirm-button {
        width: 238px;
        height: 46px;
        margin-bottom: 25px;
        font-size: 14px;
        line-height: 17px;
    }
}