.footer__caption {
    color: #545454;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400px;
}

@media (max-width: 767px) {
    .footer__caption {
        font-size: 14px;
        line-height: 17px;
    }
}